#main div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 100px;
  row-gap: 100px;
  margin: 0 auto;
}
#service1 {
  grid-column-start: 1;
  margin-right: 100px;
  width: 100%;
}
#service2 {
  position: relative;
  display: grid;
  justify-self: left;
  left: 50px;
  margin: 0 auto;
  margin-top: 30px;
  column-gap: 100px;
  row-gap: 100px;
}
#service3 {
  width: 80%;
  display: grid;
  margin: 0 auto;
  float: left;
}
#service4 {
  width: 80%;
  margin: 0 auto;
  float: left;
  justify-content: left;
}